<main class='m-4'>
  <div class='text-center mb-4'><h1>{{name}}</h1></div>

  <hr />

  <div class='text-center'><h2>Users</h2></div>

  <section class='row my-4'>
    {{#each users}}
      <div class='col-6'>
        <ul>
          <div><h3>{{name}}</h3></div>

          <li>ID - {{id}}</li>
          <li>Gender- {{gender}}</li>
          <li>Age - {{age}}</li>
          <br />
          <section>
            <div><h4>Friends :</h4></div>
            {{#each friends}}
              <ul>
                <div>{{name}}</div>

                <li>ID - {{id}}</li>
                <li>Gender - {{gender}}</li>
                <li>Age - {{age}}</li>
                <br />
                <div><b>Mutual friends :</b></div>

                {{#each mutual_friends}}
                  <ul>
                    <div>{{name}}</div>

                    <li>ID - {{id}}</li>
                    <li>Gender - {{gender}}</li>
                    <li>Age - {{age}}</li>
                    <br />
                  </ul>
                {{/each}}
              </ul>
            {{/each}}
          </section>
          <section>
            {{#if groups}}<div><h4>Groups :</h4></div>{{/if}}

            {{#each groups}}
              <ul>
                <br />
                <div><h5>{{name}}</h5></div>

                <li>ID - {{id}}</li>
                <li>{{description}}</li>
                <br />
                <div><b>Members :</b></div>
                {{#each members}}
                  <ul>
                    <div>{{name}}</div>

                    <li>ID - {{id}}</li>
                    <li>Gender - {{gender}}</li>
                    <li>Age - {{age}}</li>
                    <br />
                  </ul>
                {{/each}}
              </ul>
            {{/each}}
          </section>
        </ul>
      </div>
    {{/each}}
  </section>
  <hr />

</main>