<main class='m-4'>
  <section>
    <div class='text-center'><h1>{{name}}</h1></div>

    <ul class='list-unstyled'>
      <li>{{category}}</li>
      <li>{{description}}</li>
      <li>Price - {{price}} usd.</li>
    </ul>
  </section>
  <hr />
  <section class='row'>
    {{#with features}}
      <div class='text-center my-4'><h2>Features</h2></div>
      <div class='col-4'>
        <ul>
          {{#with processor}}
            <div><h5>Processor</h5></div>

            <li>Brand - {{brand}}</li>
            <li>Model - {{model}}</li>
            <li>Speed - {{speed}}</li>
            <li>Cores - {{cores}}</li>
            <li>Cache - {{cache}}</li>
          {{/with}}
        </ul>

        <ul class='mt-5'>
          {{#with memory}}
            <div><h5>Memory</h5></div>

            <li>Type - {{type}}</li>
            <li>Size - {{size}}</li>
            <li>Speed - {{speed}}</li>
          {{/with}}
        </ul>

        <ul class='mt-4'>
          {{#with storage}}
            <div><h5>Storage</h5></div>

            <li>Type - {{type}}</li>
            <li>Size - {{size}}</li>
          {{/with}}
        </ul>
      </div>

      <div class='col-4'>
        <ul>
          {{#with display}}
            <div><h5>Display</h5></div>

            <li>Size - {{size}}</li>
            <li>Resolution - {{resolution}}</li>
            <li>Technology - {{technology}}</li>
            <li>Color space - {{color_space}}</li>
            <li>Brightness - {{brightness}}</li>
            <li>Refresh rate - {{refresh_rate}}</li>
          {{/with}}
        </ul>

        <ul class='mt-4'>
          {{#with graphics}}
            <div><h5>Graphics</h5></div>

            <li>Brand - {{brand}}</li>
            <li>Model - {{model}}</li>
            <li>Memory - {{memory}}</li>
          {{/with}}
        </ul>

        <ol class='mt-3'>
          <div><h5>Ports</h5></div>

          {{#each ports}}
            <li>{{type}} - {{count}} pieces.</li>

            {{#if features}}
              <ul>
                <div><b>Features:</b></div>
                {{#each features}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            {{/if}}

            <br />
          {{/each}}
        </ol>
      </div>

      <div class='col-4'>
        <ul class='mb-4'>
          {{#with battery}}
            <div><h5>Battery</h5></div>

            <li>Type - {{type}}</li>
            <li>Capacity - {{capacity}}</li>
            <li>Life - {{life}}</li>
          {{/with}}
        </ul>
        <br />
        <ul class='mt-5 mb-4'>
          <div><h5>Weight</h5> - {{weight}}</div>
        </ul>
        <br />
        <ul class='mt-3'>
          {{#with dimensions}}
            <div><h5>Dimensions</h5></div>

            <li>Height - {{height}}</li>
            <li>Width - {{width}}</li>
            <li>Depth - {{depth}}</li>
          {{/with}}
        </ul>
        <br />
        <br />
        <br />
        <br />
        <ul>
          <div><h5>Operating system</h5>
            -
            {{operating_system}}</div>
        </ul>

        <ol class='mt-3'>
          <div><h5>Accessories</h5></div>
          {{#each accessories}}
            <li>{{name}}</li>
            <div>Price - {{price}} usd.</div>
            <br />
          {{/each}}
        </ol>
      </div>

    {{/with}}
  </section>
  <hr />
</main>